<div class="homepg">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Enter your Queue name">
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <br><br>
            <div class="col-md-12">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-block">Search</button>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </form>
</div>
