<div class="container">
    <table class="table">
  <thead class="thead-default">
    <tr>
      <th>#</th>
      <th>Queue Name</th>
      <th>Queue COunt</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>core/test/q2</td>
      <td>34</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>core/test/q1</td>
      <td>12</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>core/test/faultqueue</td>
      <td>58</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
<script>
$(function () {
var chart = new Highcharts.Chart({
chart: {
    type: 'column',
    renderTo: 'contner'
},
title: {
    text: 'Monthly Average Rainfall'
},
subtitle: {
    text: 'Source: WorldClimate.com'
},
xAxis: {
    categories: [
        'Jan'
    ],
    crosshair: true
},
yAxis: {
    min: 0,
    title: {
        text: 'Rainfall (mm)'
    }
},
tooltip: {
    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
        '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
    footerFormat: '</table>',
    shared: true,
    useHTML: true
},
plotOptions: {
    column: {
        pointPadding: 0.2,
        borderWidth: 0
    }
},
series: [{
    name: 'Tokyo',
    data: [49.9, 71.5, 106.4]

}]
});
});

</script>
<div id="contner" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>
